# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# PHP files
[*.php]
indent_style = tab
indent_size = 4

# Indentation override for all HTML, CSS/SCSS, JS, and Vue files
[*.{html,css,scss,js,vue}]
indent_style = tab
indent_size = 2