# CRAFT ENVIRONMENT
.env

# COMPOSER
vendor

# BUILD FILES
node_modules/
yarn-error.log

# NUXT
src/debug.log
src/dist/*
.nuxt

# WEB FILES
web/dist/*

# OPS

# MISC FILES
.DS_Store
.idea
.vscode
.editorconfig
ansible.log
.eslintcache
